<!DOCTYPE HTML>
<html lang="en" ng-app="myApp">
<head>
    <!--These would be taken from a CDN server in production-->
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular.min.js.map"></script>
    <script src="lib/d3.min.js"></script>
    <script src="lib/line-chart.min.js"></script>
    <script src="js/app.js"></script>
    <link href="lib/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="main" ng-controller="PricesController">
    <div class="container">
        <div class="container">
        <h1>BitCoin Prices in {{ displayCurrency }}</h1>
        <h2>{{ errorMessage }}</h2>

        <form>
            Start: <input type="date" ng-model="startDate" value="startDate">
            End : <input type="date" ng-model="endDate" value="endDate">
            <select ng-model="currency" value="currency">
                <option value="EUR">EUR</option>
                <option value="GBP">GBP</option>
                <option value="USD">USD</option>
                <option value="CNY">CNY</option>
            </select>
            <button ng-click="getData()">Update</button>
        </form>
            </div>

        <div class="container">

        <linechart data="data" options="options"></linechart>

        </div>
    </div>
</div>
</body>
</html>